
	<section class="top-dark">
    </section>
<section id="wrapper">
	<section class="top-d">
     	<section class="update"> <a href="http://#"> Update your Status </a> </section>
        <section class="notification">
        	<section class="notifi-item"> <a href="http://#"> <%= image_tag('user.jpg') %> </a> </section>
            <section class="notifi-item"> <a href="http://#"> <%= image_tag('chat.jpg') %></a>  </section>
            <section class="notifi-item"> <a href="http://#"> <%= image_tag('notification.jpg') %> </a> </section>
        </section>
     <section class="search1"> <input type="text"/> </section>
  	  <section class="search1-icon"> <a href="#"><%= image_tag('auto.png') %></a>
      </section>
            <section class="notification">
        	<section class="notifi-item"> <a href="http://#"> <%= image_tag('group.jpg') %> </a> </section>
            <section class="notifi-item"> <a href="http://#"> <%= image_tag('notes.jpg') %></a>  </section>
            <section class="notifi-item"> <a href="http://#"> <%= image_tag('gallery.jpg') %></a> </section>
        </section>
    </section>
    <section class="left-panel">

    	<section class="heading-text"> Victoria Ricciano
        </section>
        <section class="head-img"> <a href="http://#"><%= image_tag('img1.jpg') %></a>
        </section>
        <section class="follow-blue"> <a href="http://#"><%= image_tag('btn-blue.png') %></a>
        </section>
        <section id="navi3">
 				     <ul>
    				    <li onclick="$('#profile-sub').toggle();"> <a href="">My profile </a></li>
                                    <ul id="profile-sub"style="list-style: none;padding-left:10px;">
                  <li><a href="#">Creat cv</a></li>
                <li><a href="<%= edit_user_path(current_user) %>">Change Account setting</a></li></ul>
    				    <li> <a href="">My Place</a></li>
      					<li> <a href="">My People  </a></li>
     				   <li onclick="$('#event-list').toggle();"> <a href="#">My Events</a></li>
                                   <ul id="event-list" style="list-style: none;padding-left:10px;display:none;">
                    <li><a href="#">Creat Events</a></li>
                <li><a href="<%= user_events_events_path(current_user)%>">View Events</a></li>
                <li><a href="#">Delate Events</a></li></ul>
     				   <li> <a href="">My Deals</a></li>
     				 </ul>
  		</section>


       <section class="bottom-navi">
        	<section class="btm-icon1"> <a href="#"><%= image_tag('iew.png') %></a> </section> <section class="btm-text"> <a href="#"> View Profile </a> </section>

        </section>
       <section class="bottom-navi1">
        	<section class="btm-icon1"> <a href="#"><%= image_tag('invite.png') %></a> </section> <section class="btm-text">  <a href="#"> Invite Friends </a> </section>
        </section>
       <section class="bottom-navi1">
        	<section class="btm-icon1"> <a href="#"><%= image_tag('find.png') %></a> </section> <section class="btm-text">  <a href="#">Find Friends</a></section>
        </section>
      </section>



<section class="middle-area" style="width:600px;margin-top:15px;">
    	<!--<section class="mid-top">
        	<section class="mid-text"> <input type="text" /> </section>
        </section>-->
               <%= form_for(@user,  :url => user_path(current_user), :html => { :method => :put, :class=>"Form" }) do |f| %>

                <p>Email Address:
                 <%= current_user.email %>
                </p>

                <!--<p>Email Setting :*<input name="" type="button" value="Email Setting"  class="email"/></p>-->
                <p>Password :***<input name="" type="button" value=" Change Password"  class="email" /></p>

                <p>Real name:***
                 <%= f.text_field :real_name, :class=>"text-area", :style=>"border:1px solid black" %>
                </p>

                <p>Age:***
                  <%= f.text_field :age, :class=>"text-area" %>
                </p>

                <p>Gender:*****
                  <%= f.select :sex, options_for_select(['male','Female'], current_user.sex ),:class=>"gender" %>
                  <!--<select name="jumpMenu" id="jumpMenu" onchange="MM_jumpMenu('parent',this,0)" class="gender">
                    <option>Male</option>
                    <option>Female</option>
                  </select>-->
                </p>
                <p>Date Of Birth: Date

                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)" class="option">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                     <option>18</option>
                      <option>19</option>
                       <option>20</option>
                        <option>21</option>
                         <option>22</option>
                          <option>23</option>
                           <option>24</option>
                            <option>25</option>
                             <option>26</option>
                              <option>27</option>
                               <option>28</option>
                                <option>29</option>
                                 <option>30</option>
                                <option>31</option>
                  </select>

                   Month:
                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)" class="option">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>

                  </select>



                   Year:
                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)" class="option">
                    <option>1985</option>
                    <option>1986</option>
                    <option>19896</option>
                    <option>1987</option>
                    <option>1988</option>
                    <option>1989</option>
                    <option>1990</option>
                    <option>1991</option>
                    <option>1992</option>
                    <option>1993</option>
                    <option>1994</option>
                    <option>1995</option>

                  </select>

                </p>
                <p>Location:****
                  <%= f.text_field :base_location, :class => 'text-area' %></p>

                <p>Language:****   <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)"  class="gender">
                    <option>English</option>
                    <option>Hindi</option>
                    <option>Bengoli</option>
                    <option>France</option>
                    <option>Chinesh</option>
                    <option>Japanish</option>
                    <option>Urdhu</option>
                    <option>Arabic</option>
                    <option>Spanish</option>
                    <option>Greek</option>
                    <option>German</option>
                    <option>Albian</option>

                  </select></p>

                  <p>Country:*****

                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)"  class="gender">
                    <option>Us</option>
                    <option>Uk</option>
                    <option>Indian</option>
                    <option>Gulf</option>
                    <option>Asia</option>
                    <option>Japanish</option>
                    <option>Urdhu</option>
                    <option>Arabic</option>
                    <option>Spanish</option>
                    <option>Greek</option>
                    <option>German</option>
                    <option>Albian</option>

                  </select>
                	</p>
                    <p>Website:*****<input type="text" value="" size="" / class="text-area"></p>

                    <p class="image">Image******* <img src="/assets/main-image.jpg"  alt="" /></p>
                    <%= f.file_field :avatar %>
                    <!--<input name="" type="button" value="Facebook"  class="facebook"/>-->

                    <!--<p>Link To Facebook  On <input name="" type="radio" value="on"  class="on"/>

                    Off <input name="" type="radio" value="on"  class="on"/>
                    </p>

                    <p>Link To Twitter  On<input name="" type="radio" value="on"  class="on"/> Off <input name="" type="radio" value="on"  class="on"/> </p>

      -->
                     <p>
<%= submit_tag "Save Account",:class=>"save-btn" %>&nbsp;&nbsp;<input name="" type="button" value="Delete Account"  class="save-btn"/>
                       </p>

                <% end %>
</section>









