
	<div class="top-dark" style="background:#333">
    </div>
<div id="wrapper">
	<div class="top-d">
     	<div class="update"> <a href="http://#"> Update your Status </a> </div>
        <div class="notification">
        	<div class="notifi-item"> <a href="http://#"> <%= image_tag('user.jpg') %> </a> </div>
            <div class="notifi-item"> <a href="http://#"> <%= image_tag('chat.jpg') %></a>  </div>
            <div class="notifi-item"> <a href="http://#"> <%= image_tag('notification.jpg') %> </a> </div>
        </div>
     <div class="search1"style="background:#fff"> <input type="text"/> </div>
  	  <div class="search1-icon"> <a href="#"><%= image_tag('auto.png') %></a>
      </div>
            <div class="notification">
        	<div class="notifi-item"> <a href="http://#"> <%= image_tag('group.jpg') %> </a> </div>
            <div class="notifi-item"> <a href="http://#"> <%= image_tag('notes.jpg') %></a>  </div>
            <div class="notifi-item"> <a href="http://#"> <%= image_tag('gallery.jpg') %></a> </div>
        </div>
    </div>
    <div class="left-panel">

    	<div class="heading-text"> Victoria Ricciano
        </div>
        <div class="head-img"> <a href="http://#"><%= image_tag('img1.jpg') %></a>
        </div>
        <div class="follow-blue"> <a href="http://#"><%= image_tag('btn-blue.png') %></a>
        </div>
        <div id="navi3" style="height:100%;float:none;">
 				     <ul>
    				    <li onclick="$('#profile-sub').toggle();"> <a href="">My profile </a></li>
                                    <ul id="profile-sub"style="list-style: none;padding-left:10px;">
                  <li><a href="#">Creat cv</a></li>
                <li><a href="<%= edit_user_path(current_user) %>">Change Account setting</a></li></ul>
    				    <li> <a href="">My Place</a></li>
      					<li> <a href="">My People  </a></li>
     				   <li onclick="$('#event-list').toggle();"> <a href="#">My Events</a></li>
                                   <ul id="event-list" style="list-style: none;padding-left:10px;display:none;">
                    <li><a href="#">Creat Events</a></li>
                <li><a href="<%= user_events_events_path(current_user)%>">View Events</a></li>
                <li><a href="#">Delate Events</a></li></ul>
     				   <li> <a href="">My Deals</a></li>
     				 </ul>
  		</div>


       <div class="bottom-navi">
        	<div class="btm-icon1"> <a href="#"><%= image_tag('iew.png') %></a> </div> <div class="btm-text"> <a href="#"> View Profile </a> </div>

        </div>
       <div class="bottom-navi1">
        	<div class="btm-icon1"> <a href="#"><%= image_tag('invite.png') %></a> </div> <div class="btm-text">  <a href="#"> Invite Friends </a> </div>
        </div>
       <div class="bottom-navi1">
        	<div class="btm-icon1"> <a href="#"><%= image_tag('find.png') %></a> </div> <div class="btm-text">  <a href="#">Find Friends</a></div>
        </div>
      </div>



<div class="middle-area" style="width:600px;margin-top:15px;">
    	<!--<div class="mid-top">
        	<div class="mid-text"> <input type="text" /> </div>
        </div>-->
               <%= form_for(@event,  :url => create_event_users_path(current_user), :html => { :method => :post}) do |f| %>

                <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description,:rows=>'7',:cols=>'30' %>
  </div>
  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :start_time %>
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %>
    <%= f.text_field :end_time %>
  </div>
  <div class="field">
    <%= f.label :host %>
    <%= f.text_field :host %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :category_id %>
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :comments %>
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :avatar %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
                     <p>
<%#= submit_tag "Save Account",:class=>"save-btn" %>
                       </p>

                <% end %>
</div>
</div>









