	<section class="top-dark">
    </section>
<section id="wrapper">
	<section class="top-d">
     	<section class="update"> <a href="http://#"> Update your Status </a> </section>
        <section class="notification">
        	<section class="notifi-item"> <a href="http://#"> <%= image_tag('user.jpg') %> </a> </section>
            <section class="notifi-item"> <a href="http://#"> <%= image_tag('image/chat.jpg') %></a>  </section>
            <section class="notifi-item"> <a href="http://#"> <%= image_tag('notification.jpg') %> </a> </section>
        </section>
     <section class="search1"> <input type="text"/> </section>
  	  <section class="search1-icon"> <a href="#"><%= image_tag('auto.png') %></a>
      </section>
            <section class="notification">
        	<section class="notifi-item"> <a href="http://#"> <%= image_tag('group.jpg') %> </a> </section>
            <section class="notifi-item"> <a href="http://#"> <%= image_tag('notes.jpg') %></a>  </section>
            <section class="notifi-item"> <a href="http://#"> <%= image_tag('gallery.jpg') %></a> </section>
        </section>
    </section>
    <section class="left-panel">

    	<section class="heading-text"> Victoria Ricciano
        </section>
        <section class="head-img"> <a href="http://#"><%= image_tag('img1.jpg') %></a>
        </section>
        <section class="follow-blue"> <a href="http://#"><%= image_tag('btn-blue.png') %></a>
        </section>
        <section id="navi3">
 				     <ul>
    				    <li> <a href="">My profile </a></li>
    				    <li> <a href="">My Place</a></li>
      					<li> <a href="">My People  </a></li>
     				   <li> <a href="">My Events</a></li>
     				   <li> <a href="">My Deals</a></li>
     				 </ul>
  		</section>
       <section class="bottom-navi">
        	<section class="btm-icon1"> <a href="#"><%= image_tag('iew.png') %></a> </section> <section class="btm-text"> <a href="#"> View Profile </a> </section>

        </section>
       <section class="bottom-navi1">
        	<section class="btm-icon1"> <a href="#"><%= image_tag('invite.png') %></a> </section> <section class="btm-text">  <a href="#"> Invite Friends </a> </section>
        </section>
       <section class="bottom-navi1">
        	<section class="btm-icon1"> <a href="#"><%= image_tag('find.png') %></a> </section> <section class="btm-text">  <a href="#">Find Friends</a></section>
        </section>


    </section>
<section class="middle-area">
    	<section class="mid-top">
        	<section class="mid-text"> <input type="text" /> </section>
        </section>
               <section class="buttons">
        	<section class="btn-mid">  <a href="#">Activity </a> </section>
            <section class="btn-mid1"> <a href="#">Follows (6)</a></section>
            <section class="btn-mid2"> <a href="#">Followers (6)</a></section>
        </section>
        <section class="content-mid">
        	<section class="content-img"> <a href="#"><%= image_tag('icon-img.png') %></a>
            </section>
            <section class="content-text">  Lorem lpsum is simply dummy
            </section>
        	<section class="like-btn">
            	<section class="like-text"> <a href=""> Like </a> </section>
                <section class="like-text"> <a href="#"> Comment </a> </section>
                <section class="like-text"> <a href="#"> Delete </a> </section>
            </section>
        </section>
         <section class="content-mid">
        	<section class="content-img"> <%= image_tag('icon-img.png') %>
            </section>
            <section class="content-text">  Lorem lpsum is simply dummy
            </section>
        	<section class="like-btn">
            	<section class="like-text"> <a href="#"> Like </a> </section>
                <section class="like-text"> <a href="#"> Comment </a> </section>
                <section class="like-text"> <a href="#"> Delete </a> </section>
            </section>
        </section>
                 <section class="content-mid">
        	<section class="content-img"> <a href="#"><%= image_tag('icon-img.png') %></a>
            </section>
            <section class="content-text">  Lorem lpsum is simply dummy
            </section>
        	<section class="like-btn">
            	<section class="like-text"> <a href="l#"> Like </a> </section>
                <section class="like-text"> <a href=""> Comment </a> </section>
                <section class="like-text"> <a href="#"> Delete </a> </section>
            </section>
        </section>
</section>
<section id="right-panel">
    	<section class="right-head"> Profile Completeness
        </section>
        <section class="profile-bar"> <a href="#"><%= image_tag('bar.jpg') %></a>
        </section>
        <section class="profile-text"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard .
        </section>
        <section class="profile-btn"> <a href="#"> <%= image_tag('complete.jpg') %> </a>
        </section>
 </section>