
<section id="hedder">


  <section class="logo"><a href="/"><img src="/assets/logo.jpg"  alt="" /></a></section>
  <% if !user_signed_in? %>
    <section class="regester">
      <p class="regester-text"><%= link_to "Register", new_user_registration_path %></p>

    </section>

    <section class="login-bg">
      <p class="login"><a href="/users/sign_in">Login</a></p>
    </section>
  <% else%>
  <div>
    <section style="text-align:right;float:left; height:34px;margin-left:123px;margin-top: 30px;width:270px;">
      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#fff;font-style:italic;padding-top:8px;padding-left:15px;">
        <a href="<%= edit_user_path(current_user) %>"><%= current_user.username %> </a></p>
    </section>
    <section class="regester" style="margin-left:15px">
      <p class="regester-text" ><%= link_to 'sign out', destroy_user_session_path, :method => :delete %></p>
    </section>

  </div>
  <% end %>
<%# if user_signed_in? %>
<%#= current_user.username %>
<%#*<section class="regester"><p class="regester-text"><%= link_to 'sign out', destroy_user_session_path, :method => :delete %></p></section>
<%# else%>
<%#*<section class="logo"> <a href="/users/sign_in"><img src="/assets/logo.jpg"  alt="" /></a> </section>%>
<%#*<section class="regester"><p class="regester-text"> <%= link_to "Register", new_user_registration_path %></p> </section>
<%# end %>
<section class="flag-icon"><a href="#"><img src="/assets/flag.jpg" alt="" /></a></section>
<section class="flag2"><a href="#"><img src="/assets/lag2.jpg" alt="" /></a></section>

<nav class="navber">

  <ul class="hedder-nav">
    <li> <a href="/"> Home </a></li>
    <li> <a href="">People</a></li>
    <li> <a href="">Places </a></li>
    <li> <a href="">Events</a></li>
    <li> <a href="">Deals</a></li>
    <li> <a href="">Shouts</a></li>
    <li> <a href="">Shops</a></li>
    <li> <a href="">Conatct Us </a></li>
  </ul>


</nav>


<!--  hedder--></section>
