<section id="wrapper">
  <section id="top">
    <section class="top-logo"> <a href="/"><%= image_tag("logo.jpg") %></a></section>
    <section class="top-right1">
      <section class="top-inside1">
        
        <% if user_signed_in? %>
        <%= current_user.email %>
        <section class="btn2"><%= link_to 'sign out', destroy_user_session_path, :method => :delete %></section>
        <% else%>
        <section class="btn2"> <%= link_to "Register", new_user_registration_path %> </section>
        <section class="btn1"> <a href="/users/sign_in"> Login</a> </section>
        <% end %>
        
        <section class="flag"> <a href="#"> <%= image_tag("flag.jpg") %></a> </section>
        <section class="flag"> <a href="#"> <%= image_tag("lag2.jpg") %></a> </section>
      </section>
      <section class="top-inside2">
        <section id="navi">
          <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="">People</a></li>
            <li> <a href="">Places </a></li>
            <li> <a href="">Events</a></li>
            <li> <a href="">Deals</a></li>
            <li> <a href="">Shouts</a></li>
            <li> <a href="">Shops</a></li>
            <li> <a href="">Conatct Us </a></li>
          </ul>
        </section>
      </section>
    </section>
  </section>
</section>


