<section id="mainwapper">
<section id="wrapper">
  <section id="top">
    <section class="top-logo"> <a href="#"><%= image_tag("logo.jpg") %></a></section>
    <section class="top-right1">
      <section class="top-inside1">
        <section class="btn2"> <a href="#">Register</a> </section>
        <section class="btn1"> <a href="#"> Login</a> </section>
        <section class="flag"> <a href="#"> <%= image_tag("flag.jpg") %></a> </section>
        <section class="flag"> <a href="#"> <%= image_tag("lag2.jpg") %></a> </section>
      </section>
      <section class="top-inside2">
        <section id="navi">
          <ul>
            <li> <a href="">Home</a></li>
            <li> <a href="">People</a></li>
            <li> <a href="">Places </a></li>
            <li> <a href="">Events</a></li>
            <li> <a href="">Deals</a></li>
            <li> <a href="">Shouts</a></li>
            <li> <a href="">Shops</a></li>
            <li> <a href="">Conatct Us </a></li>
          </ul>
        </section>
      </section>
    </section>
  </section>
</section>


  <div id="banner">
    <div style="width:100%; margin:0 auto; padding:0px; position:relative;"> <!-- define slider container width (strict enforce) -->
      <div id="da-slider" class="da-slider" style="background-position: 900% 0%;">

        <!-- Slide 1 -->
        <div class="da-slide first da-slide-toleft">
      <h2>What can you do online and mobile<br> with Mobbynet?</h2>

      <div class="da-img"><%= image_tag("video.png") %></div>
    </div>


        <!-- Slide 2 -->
        <div class="da-slide second da-slide-toleft">
      <h2>
        Build your network!<br>
        See where they are on the map and<br>
        mobile, follow their shouts and check<br>
        in to the venue, share places and deals
      </h2>

      <a href="http:#" class="da-link">Get started</a>
      <div class="da-img"><%= image_tag("women.jpg") %></div>
    </div>


        <!-- Slide 3 -->

         <div class="da-slide third da-slide-fromright da-slide-current">
      <h2>Find the places in your city:<br>bars, restaurant, shops, hotels,<br> shopping or entertainment near<br> you, search them online or mobile<br> with the GPS On your hone</h2>

      <a href="http:#" class="da-link">Get started</a>
      <div class="da-img"><%= image_tag("map.jpg") %></div>
    </div>


        <!-- Slide 4 -->

         <div class="da-slide forth">
      <h2>Find events, buy tickets<br>Find events near you, buy tickets and <br> get them per email or sms , organize<br> your free events</h2>

      <a href="http:#" class="da-link">Get started</a>
      <div class="da-img"> <%= image_tag("tic.jpg") %></div>
    </div>

     <!-- Slide 5 -->

         <div class="da-slide sixth">
      <h2>Talk to me!. <br> Shout anything you wish to share,<br> search for the shouts of your<br>  network.follow a certain topics, shop <br> or events.</h2>

      <a href="http:#" class="da-link">Get started</a>
      <div class="da-img"><%= image_tag("shout1.jpg") %></div>
    </div>

     <!-- Slide 6 -->

         <div class="da-slide seven">
      <h2>Everything around your location. <br> Discover everthing around yours ,<br> location with the GPS and mobbynet<br> mobile apps  network.follow a <br>certain topics, shop  or events.</h2>

      <a href="#" class="da-link">Get started</a>
      <div class="da-img"> <%= image_tag("mobile1.jpg") %></div>
    </div>

        <!-- navigation controls -->
        <nav class="da-arrows"> <span class="da-arrows-prev"></span> <span class="da-arrows-next"></span> </nav>
      <nav class="da-dots"><span class=""></span><span class=""></span><span class="da-dots-current">

        </span><span></span><span></span><span></span></nav></div>
      <!-- /da-slider -->
    </div>
  </div>
  </section>
<section id="wrapper">
  <section class="search">
    <input type="text">
  </section>
  <section class="search-icon"> <a href="#"><%= image_tag("auto.png") %></a> </section>
  <section id="btm-tabs"> <a href="#">
    <section class="tab01">
      <section class="tab01-img"><%= image_tag("text0.png") %></section>
    </section>
    </a> <a href="#">
    <section class="tab02">
      <section class="tab02-img"> <%= image_tag("taxt2.png") %></section>
    </section>
    </a> <a href="#">
    <section class="tab03">
      <section class="tab03-img"><%= image_tag("text3.png") %></section>
    </section>
    </a> </section>
  <section id="footer">
    <section class="footer-texta"> All Rights are Reserved  Mobbynet © 2012 </section>
    <section class="footer-textb">
      <section id="f-navi">
        <ul>
          <li> <a href="">About Us   | </a></li>
          <li> <a href="">Mobile App   | </a></li>
          <li> <a href="">Terms &amp; Conditions   |</a></li>
          <li> <a href="">Privacy policy  | </a></li>
          <li> <a href="">Contact us   | </a></li>
          <li> <a href="">Chat Support   |</a></li>
          <li> <a href="">How it works</a></li>
        </ul>
      </section>
    </section>
  </section>
</section>