
<div id="user_scopes">
  <div id="consumers" class="row">
    <h2> For Consumers</h2>
    <span> Instantly Amazing</span>
  </div>
  <div id="merchants" class="row">
    <h2> For Merchants</h2>
    <span>Pirq Up Your Business</span>
  </div>
  <div id="venues" class="row">
    <h2> Venues</h2>
    <span> Find Pirq Venues</span>
  </div>
</div>

<div id="banner"style="padding-top:20px;">
  <div style="width:100%; margin:0 auto; padding:0px; position:relative;">
    <div id="da-slider" class="da-slider" style="background-position: 900% 0%;">

      <!-- Slide 1 -->
      <div class="da-slide first da-slide-toleft">
        <h2>What can you do online and mobile<br> with Mobbynet?</h2>
        <div class="da-img"><%= image_tag("video.png") %></div>
      </div>

      <!-- Slide 2 -->
      <div class="da-slide second da-slide-toleft">
        <h2>
          Build your network!<br>
          See where they are on the map and<br>
          mobile, follow their shouts and check<br>
          in to the venue, share places and deals
        </h2>
        <a href="http:#" class="da-link">Get started</a>
        <div class="da-img"> <%= image_tag("women.jpg") %> </div>
      </div>

      <!-- Slide 3 -->
      <div class="da-slide third da-slide-fromright da-slide-current">
        <h2>Find the places in your city:<br>bars, restaurant, shops, hotels,<br> shopping or entertainment near<br> you, search them online or mobile<br> with the GPS On your hone</h2>
        <a href="http:#" class="da-link">Get started</a>
        <div class="da-img"><%#= image_tag("map.jpg") %>
          <iframe width="504" height="216" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=214789919690292632620.0004d5b484ead07a58e66&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=23.875,57.630033&amp;t=m&amp;output=embed"></iframe>
        </div>
      </div>

      <!-- Slide 4 -->
      <div class="da-slide forth">
        <h2>Find events, buy tickets<br>Find events near you, buy tickets and <br> get them per email or sms , organize<br> your free events</h2>
        <a href="http:#" class="da-link">Get started</a>
        <div class="da-img"> <%= image_tag("tic.jpg") %></div>
      </div>

      <!-- Slide 5 -->

      <div class="da-slide sixth">
        <h2>Talk to me!. <br> Shout anything you wish to share,<br> search for the shouts of your<br>  network.follow a certain topics, shop <br> or events.</h2>

        <a href="http:#" class="da-link">Get started</a>
        <div class="da-img"><%= image_tag("shout1.jpg") %></div>
      </div>

      <!-- Slide 6 -->

      <div class="da-slide seven">
        <h2>Everything around your location. <br> Discover everthing around yours ,<br> location with the GPS and mobbynet<br> mobile apps  network.follow a <br>certain topics, shop  or events.</h2>

        <a href="#" class="da-link">Get started</a>
        <div class="da-img"> <%= image_tag("mobile1.jpg") %></div>
      </div>
      <!-- Slide 7 -->

      <div class="da-slide eight">
        <h2>Find The Best Deals Neyer You <br> Find The Best desle Neyers You ,<br> Or catagoryt<br> Buy online  <br>Mobile Yous Full As Groop Network.</h2>

        <a href="#" class="da-link">Get started</a>
        <div class="da-img"><%= image_tag("oprater.png") %></div>
      </div>

      <!-- navigation controls -->
      <nav class="da-arrows"> <span class="da-arrows-prev"></span> <span class="da-arrows-next"></span>
      </nav>
       <nav class="da-arrows"> <span class="da-arrows-prev"></span>

         <span class="da-arrows-next"></span> </nav>
     <span class=""></span><span class=""></span><span class="da-dots-current"></span><span></span><span></span><span>

      </span></nav>
    </div>
    <!-- /da-slider -->
  </div>
</div>

<section id="wrapper">


  <section id="btm-tabs">
    <a href="#">
      <section class="tab01">
        <section class="tab01-img"><%= image_tag("text0.png") %></section>
      </section>
    </a>
    <a href="#">
      <section class="tab02">
        <section class="tab02-img"> <%= image_tag("taxt2.png") %></section>
      </section>
    </a>
    <a href="#">
      <section class="tab03">
        <section class="tab03-img"><%= image_tag("text3.png") %></section>
      </section>
    </a>
  </section>
</section>
